<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container">
    <a href="#" class="navbar-brand">Tree View</a>
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a href="#" class="nav-link ">
            <i class="fa fa-home"></i>
            Home
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/systembugtj/ember-tree-view" class="nav-link ">
            <i class="fa fa-github-alt"></i>
            Github
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <a href="https://github.com/systembugtj/ember-tree-view/archive/master.zip"
            class="btn btn-success">
            <i class="fa fa-save"></i>
            Download 1~ kb
          </a>
        </li>
        <li class="nav-item">
          <div class="socials">
            <iframe class="github-btn"
              src="http://ghbtns.com/github-btn.html?user=systembugtj&amp;repo=ember-tree-view&amp;type=watch&amp;count=true"
              width="100" height="20" title="Star on GitHub"></iframe>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>