<div class="well sidebar">
  <ul class="nav flex-column">
    {{#each this.items as | item|}}
      <li class="nav-item">
        <LinkTo @route={{item.route}}>{{item.text}}</LinkTo>
      </li>
    {{/each}}
  </ul>
</div>