<div class="well sidebar">
  <ul class="nav flex-column">
    {{#each this.items as | item|}}
      <li class="nav-item">
        {{#link-to item.route}}{{item.text}}{{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>