<h1>Async Tree</h1>

<p>
  This is the most custom form of loading tree children, it only requires the root node to be built ahead,
  Expanding a node by clicking it causes an action to be triggered on the controller, expecting the action to build or
  load the expanded node's children, the tree node will expands with the given children.
</p>

<p>
  The data then is cached, that means if the user close the node after opening it and then re-open the node, the data
  will <i>not</i> be re-loaded asynchronously.
</p>

<h2>Demo</h2>

{{em-tree model=model async=true icons-per-type=iconSet expand-depth=expandDepth children=(action "getChildren")}}

<h2>Markup</h2>
<div class="well line-example">
  <pre><code class="handlebars">\{{em-tree model=model async=true icons-per-type=iconSet expand-depth=expandDepth}}</code></pre>
</div>

<h2>Code</h2>
<div class="well line-example">
  <pre>
    <code class="javascript">
    </code>
  </pre>
</div>